@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .main-table {
        @apply drop-shadow-md mb-5
    }

    .main-table thead tr {
        @apply bg-project-blue-dark text-white
    }

    .main-table thead tr th {
        @apply text-left p-2
    }

    .main-table thead tr th:first-child {
        @apply rounded-tl-md
    }

    .main-table thead tr th:last-child {
        @apply rounded-tr-md
    }

    .main-table tbody tr {
        @apply odd:bg-table-odd even:bg-table-even
    }

    .main-table tbody tr td {
        @apply p-2 text-sm
    }

    .main-table tbody tr:last-child td:first-child {
        @apply rounded-bl-md
    }

    .main-table tbody tr:last-child td:last-child {
        @apply rounded-br-md  
    }

    .form-input-container {
        @apply flex flex-col focus-within:font-bold
    }
    
    .form-input {
        @apply outline-none border border-project-gray-default/30 rounded-md py-1 px-2 text-sm transition-all duration-300 ease-in-out font-normal
        focus:border-project-blue-default
    }

    .form-input-required {
        @apply text-red-500
    }

    .form-input-optional {
        @apply text-slate-300
    }

    .btn-filled {
        @apply text-center fill-white bg-project-yellow-default text-white font-bold px-4 py-2 rounded-md hover:bg-project-yellow-dark active:bg-project-yellow-darker transition-all
    }

    .btn-filled.danger {
        @apply text-center bg-rose-600 fill-white text-white font-bold px-4 py-2 rounded-md hover:bg-rose-700 active:bg-rose-800 transition-all
    }

    .btn-outline {
        @apply text-center border fill-project-blue-default border-project-blue-default text-project-blue-default px-4 py-2 rounded-md hover:bg-project-blue-light2 active:bg-project-blue-light3 transition-all
    }

    .btn-outline.danger {
        @apply border fill-rose-600 border-rose-600 text-rose-600 hover:bg-project-red-light active:bg-project-red-light2 transition-all
    }

    .btn-outline.success {
        @apply border fill-emerald-600 border-emerald-600 text-emerald-600 hover:bg-project-green-light active:bg-project-green-light2 transition-all
    }

    /* .btn-tinted {
        @apply bg-project-blue-light text-project-blue-default px-4 py-2 rounded-md hover:bg-project-blue-light2 active:bg-project-blue-light3 transition-all
    }

    .btn-tinted.danger {
        @apply bg-project-red-light text-rose-600 hover:bg-project-red-light2 active:bg-project-red-light3 transition-all
    }

    .btn-tinted.success {
        @apply bg-project-green-light text-emerald-600 hover:bg-project-green-light2 active:bg-project-green-light3 transition-all
    } */

    .btn-gray {
        @apply bg-project-neutral-default text-project-gray-default px-4 py-2 hover:bg-project-neutral-dark active:bg-project-neutral-darker rounded-md transition-all
    }

    .btn-gray.active {
        @apply text-center bg-project-yellow-default text-white font-bold px-4 py-2 rounded-md hover:bg-project-yellow-dark active:bg-project-yellow-darker transition-all
    }

    .btn-plain {
        @apply underline text-project-gray-default
    }

    .recording {
        @apply before:absolute before:w-full before:h-full before:z-10 before:bg-transparent before:border-2 before:border-rose-600 before:rounded-full before:animate-ping
    }
}

* {
    font-family: 'Red Hat Display', sans-serif;
}

nav box-icon {
    fill: white;
    transition: 200ms all ease-in-out;
}

nav a:hover box-icon, nav button:hover box-icon {
    fill: #FBAD26;
}