@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .primary-btn {
        @apply  text-center bg-project-yellow text-white font-bold px-4 py-2 rounded-md hover:bg-[#eba328] active:bg-[#d6972b] transition-all
    }

    .secondary-btn {
        @apply bg-project-blue-default text-white px-4 py-2 rounded-md hover:bg-project-blue-dark transition-all
    }

    .main-table {
        @apply drop-shadow-md mb-5
    }

    .main-table thead tr {
        @apply bg-project-blue-dark text-white
    }

    .main-table thead tr th {
        @apply text-left p-2
    }

    .main-table thead tr th:first-child {
        @apply rounded-tl-md
    }

    .main-table thead tr th:last-child {
        @apply rounded-tr-md
    }

    .main-table tbody tr {
        @apply odd:bg-table-odd even:bg-table-even
    }

    .main-table tbody tr td {
        @apply p-2 text-sm
    }

    .main-table tbody tr:last-child td:first-child {
        @apply rounded-bl-md
    }

    .main-table tbody tr:last-child td:last-child {
        @apply rounded-br-md  
    }

    .form-input-container {
        @apply flex flex-col focus-within:font-bold
    }
    
    .form-input {
        @apply outline-none border border-project-gray-default/30 rounded-md py-1 px-2 text-sm transition-all duration-300 ease-in-out font-normal
        focus:border-project-blue-default
    }

    .form-input-required {
        @apply text-red-500
    }

    .form-input-optional {
        @apply text-slate-300
    }

    .primary-btn {
        @apply  text-center bg-project-yellow text-white font-bold px-4 py-2 rounded-md hover:bg-[#eba328] active:bg-[#d6972b] transition-all
    }

    .secondary-btn {
        @apply bg-project-blue-default text-white px-4 py-2 rounded-md hover:bg-project-blue-dark transition-all
    }
}

nav box-icon {
    fill: white;
    transition: 200ms all ease-in-out;
}

nav a:hover box-icon, nav button:hover box-icon {
    fill: #FBAD26;
}